<!doctype html>
<html lang="fr-FR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="icon" href="favicon.png" sizes="16x16" />
  <link rel="icon" href="favicon.png" sizes="32x32" />

  <link rel="stylesheet" href="{{ css_path }}">
</head>

<body>
  {% block content %}{% endblock %} {% block javascript %}
  <script src="{{ js_path }}"></script> {% endblock %}
</body>

</html>
