{% set title = "Static Boilerplate"%} {% set description = "Outil est conçu pour faciliter la création de sites web simples
grâce au confort des outils modernes"%} {% extends './layouts/application.html' %} {% block content %}
<h1>h1. Static Boilerplate</h1>
<h2>h2. Static Boilerplate</h2>
<h3>h3. Static Boilerplate</h3>
<h4>h4. Static Boilerplate</h4>
<h5>h5. Static Boilerplate</h5>
<h6>h6. Static Boilerplate</h6>
<p>Static Boilerplate</p>
<p>Static Boilerplate
  <strong>strong</strong>
</p>
<p>
  Static Boilerplate
  <a href="#">link</a>
</p>
<ul>
  <li>Static Boilerplate li</li>
  <li>Static Boilerplate li</li>
  <li>Static Boilerplate li</li>
</ul>
<p>
  <picture>
    <source srcset="https://placebear.com/600/400" media="(min-width: 769px)" />
    <img srcset="https://placebear.com/200/300" alt="" />
  </picture>
</p>
<div class="desktop-only">
  <p>Static Boilerplate media query desktop</p>
</div>
<div class="mobile-only">
  <p>Static Boilerplate media query mobile</p>
</div>

{% endblock %}
